
.custom-modal-container{
    background-color: var(--primary-color);
    color: var(--font-color);
    padding: 85px;

    h3{
        font-size:  4.125rem;
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 20px;
        justify-content: center;
        padding-top: 100px;

        .grid-item {
            background-color: #ffffff;
            border: 2px solid #2b3e50;
            padding: 20px;
            text-align: center;
            height: 322px;
            display: flex;
            align-items: center;
        }

        .grid-item-no-flex {
            background-color: #ffffff;
            border: 2px solid #2b3e50;
            padding: 20px;
            text-align: center;
            height: 322px;
            display: block;
        }

        

        .grid-item-tall {
            grid-row: span 3;
            height: 662px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .btn-content{
            .truncated-text {
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                line-clamp: 2;
                overflow: hidden;
                text-overflow: ellipsis;
                text-align: left;
            }
        }
        .btn-data-content{
            display:contents;
          }

        .display-icon{
            i{
                display: none;
            }
          }
        .green{
            background-color: var(--secondary-color);
        }
        .white{
            background-color: var(--font-color);
        }
      }

@media (max-width: 768px) {
    .grid-container {
      grid-template-columns: 1fr;
      padding-top: 50px;
    }
  
    .grid-item {
      margin: 0;
      width: 100%;
    }
  
    .grid-item-tall {
      grid-row: auto;
    }
  }
}



