@import 'bootstrap/scss/bootstrap';
@import 'bootstrap-icons/font/bootstrap-icons.css';

#root {
  max-width: 1680px;
  margin: 0 auto;
  padding: 0px;
  text-align: center;
  width: 100%;

  --primary-color:#2D3E4E;
  --secondary-color: #07C06A;
  --disabed-color: #aaa;
  --font-color: #ffffff;
}

body{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}





